.authentication {
  form {
    padding: 30px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    max-width: 500px;
		text-align: left;
		margin: 0 auto;
		small {
			cursor: pointer;
		}
  }
}
