  .custom-card {
      margin: 15px auto !important;
      cursor: pointer;
      .card-body {
        font-size: 14px;
        line-height: 18px;
      }
      .card-footer {
        .text-muted {
          cursor: pointer;
        }
      }
      img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border: 1px solid #e3e3e3;
      }
      .rdw-editor-toolbar {
        display: none;
      }
      .rdw-editor-main {
        .rdw-link-decorator-wrapper {
          &:hover {
            .rdw-link-decorator-icon {
              display: none !important;
            }
          }
        }
      }
    }